@{
    ViewBag.Title = "Contact";
}
<h2>Επικοινωνία</h2>

<address>
    17is Noemvriou 18B<br />
    54352, Pylaía, Thessaloniki,<br />
    Greece<br />
    <abbr title="Phone">P:</abbr>
    231 303 6360
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com"> k.atmatzakis@movementandfunction.gr</a><br />
    <strong>Τηλέφωνο:</strong> 6947099804
</address>