@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

<h1>Κίνηση και Λειτουργία</h1>
<p class="lead">Εξειδικευμένο κέντρο φυσικοθεραπείας για βρέφη, παιδιά και ενήλικες με νευροκινητικές και μυοσκελετικές διαταραχές.</p>
@Html.ActionLink("Εισαγωγή στο συστημα", "Login", "Account", null, new { @class = "btn btn-primary" }) 