@model IEnumerable<KinisiKaiLeitourgeia.Models.People.Person>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Αρχική";
}
<h2>Ημερολόγιο</h2>
@(Html.Kendo().Scheduler<KinisiKaiLeitourgeia.Models.Appointments.Appointment>().Name("test"))
