@model IEnumerable<KinisiKaiLeitourgeia.Models.People.Person>
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Αρχική";
}
<h2>Ημερολόγιο</h2>
@(Html.Kendo().Scheduler<KinisiKaiLeitourgeia.Models.Appointments.Appointment>()
    .Name("scheduler")
    .Date(DateTime.Today)
    .StartTime(DateTime.Today)
    .Height(600)
    .Views(views =>
    {
        views.DayView();
        views.WeekView();
    })
    .DataSource(d => d
        .WebApi()
        .Model(m =>
        {
            m.Id(f => f.TaskID);
            m.Field(f => f.Title).DefaultValue("No title");
            m.Field(f => f.Title).DefaultValue("No title");
        })
        .Events(events => events.Error("error_handler"))
        .Read(read => read.Url(Url.HttpRouteUrl("DefaultApi", new { controller = "Scheduler" })))
        .Create(create => create.Url(Url.HttpRouteUrl("DefaultApi", new { controller = "Scheduler" })))
        .Update(update => update.Url(Url.HttpRouteUrl("DefaultApi", new { controller = "Scheduler", id = "{0}" })))
        .Destroy(destroy => destroy.Url(Url.HttpRouteUrl("DefaultApi", new { controller = "Scheduler", id = "{0}" })))
    )
)

@section scripts
{
    <script>
        function error_handler(e) {
            var errors = $.parseJSON(e.xhr.responseText);

            if (errors) {
                alert("Errors:\n" + errors.join("\n"));
            }
        }
</script>
}
