@model IEnumerable<KinisiKaiLeitourgeia.Models.People.Patient>
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@(Html.Kendo().Grid<KinisiKaiLeitourgeia.Models.People.Patient>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.Surname) ;
          columns.Bound(p => p.Name) ;
          columns.Bound(p => p.Telephone) ;
          columns.Bound(p => p.Mobile) ;
          columns.Bound(p => p.ReferrerDoctor).ClientTemplate(" #= ReferrerDoctor ? ReferrerDoctor.FullName : '' # ").Title("Παραπέμπων Ιατρός") ;
          columns.Bound(p => p.CurrentDoctor).ClientTemplate(" #= CurrentDoctor ? CurrentDoctor.FullName : '' # ").Title("Θεράπων Ιατρός") ;
          columns.Bound(p => p.Id).ClientTemplate(@Html.ActionLink("Λεπτομέρειες", "Details", new { id = "#= Id #" }).ToString()).Filterable(false).Sortable(false).Title("");
      })
      .Sortable()
      .Pageable()
      .Filterable(filter => filter.Mode(GridFilterMode.Row))
      .Filterable(filter => filter.Extra(false).Operators(op => op.ForString(str => str.Clear().StartsWith("Ξεκινάει με.."))))
      .DataSource(dataSource =>
          dataSource
            .WebApi()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Update(update => update.Action("Details", "Patients") )
            .Read(read => read.Url(Url.HttpRouteUrl("DefaultApi", new { controller = "PatientsAPI" })))
      )
)
